<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[WebApi]Program*,[WebApi]WebApi.Layout.MainLayout*,[WebApi]WebApi.App*</Exclude>
          <ExcludeByFile>**/obj/**/*.cs,**/*.generated.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
